html {
  scroll-behavior: smooth;
}
#shi {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    padding: 0px;
    margin: 0px;
}
#sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px
}
#sec2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 0px 60px 0px 0px;
}
body {
  background-color: #fff; /* Background color */
  background-image: 
    radial-gradient(#5e5656 2%, transparent 5%),
    radial-gradient(#5e5656 2%, transparent 5%);
  background-size: 30px 30px;
  background-position: 0 0, 150px 150px;
  background-repeat: repeat;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}   
h1 p {
    padding: 0px;
    margin: 0px;
    font-family: 'Gabarito', sans-serif;
    font-size: 20px;
    color: #313131;
    font-weight: 500;
}
#sec1 h1 {
    font-size: 100px;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}
#sec2 h1 {
    font-size: 50px;
    margin: 0px;
}
#sec2 p {
    font-size: 15px;
}
#nikaspin {
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
}
#main2 {
    display: flex;
    padding: 0px 400px;
}
#main2 img {
    height: 300px;
    width: 300px;
    border-radius: 24px;
}
a {
    color: #515151;
}
#button {
    margin-top: 20px;
    background-color: #191717;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    border: 1px solid black;
}
#button i {
    padding: 0px 12px 12px 0px;
}
#button:hover, #button:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
}
#btnContainer {
    padding-top: 40px;
    width: 75vh;
}
#projectbtn {
    padding-left: 20px;
}
#projects {
    height: 100vh;
    font-family: 'Gabarito', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#projectitle {
    font-size: 60px;
    padding: 0px;
    margin: 0px;
}
#projects p {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
}
@media (max-width: 639px) {
    #sec1 h1, #nikaspin {
        font-size: 60px;
    }
    #sec1 {
        height: 60vh;
    }
  #main2 {
    flex-direction: column;
  }
  #btnContainer {
    width: 100%;
  }
}