@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
html {
    text-align: center;
    padding: 12px;
}
#nikaspin {
    border-radius: 200px;
    height: 300px;
    width: auto;
    padding: 12px;
}
h2 {
    font-size: 25px;
}
h1 {
    font-size: 40px;
}
p {
    font-size: 17px;
}
/*
.project {
    border-radius: 12px;
    padding: 12px;
    margin: 12px;
} */
.links {
    width: 40px;
    height: auto;
    margin: 12px;
}
.columns {
    padding: 24px;
    padding-top: 0px;
}
#main {
    display: flex;
    align-items: center;
}
#desc {
    padding: 0px 50px 0px 50px;
}

  .project {
    padding: 12px 80px;
  }
  .project img {
    border-radius: 12px;
    width: 500px;
    height: auto;
  }
  .project p {
    font-size: 20px;
  }
  i {
    font-size: 24px;
    padding: 10px;
  }

  @media screen and (max-width: 700px) {
    h1 {
        font-size: 32px;
    }
    #main {
        flex-direction: column;
    }
    .project {
        flex-direction: column-reverse;
        padding: 12px 12px;
    }
    .pro-r {
        flex-direction: column;
    }
    .mhid {
        display: none;
    }
  }
  